files:
  "/etc/init.d/celeryd":
    mode: "000644"
    owner: root
    group: root
    source: "https://s3.amazonaws.com/giga_dev_resources/services/celeryd"

  "/etc/default/celeryd":
    mode: "000644"
    owner: root
    group: root
    source: "https://s3.amazonaws.com/giga_dev_resources/services/celeryd.conf"

services:
  sysvinit:
    celeryd:
      enabled: true
      ensureRunning: true
      files: "/etc/default/celeryd"
