Great job! Someone just used your unique referral link to make a gift to the #Lehigh5000 Challenge. <br />
<br />
Thanks for sharing the link. Now if just {{10 - ref_count}} more friends follow your lead, you'll get a special Secret Prize!<br />
<br />
Keep sharing your link: <a href="https://lehigh.gigawatt.co/share/{{share_id}}">https://lehigh.gigawatt.co/share/{{share_id}}</a><br />
<br />
And don't forget to add the #MuleMentum hashtag to your tweets and Instagram photos for an extra chance to win prizes!<br />
<br />
Cheers!<br />
The Gigawatt Team