Thank you for making a gift to MuleMentum: Muhlenberg's Day of Giving!<br />
<br />
Here is your super special unique referral link: <a href="https://muhlenberg.gigawatt.co/share/{{share_id}}">https://muhlenberg.gigawatt.co/share/{{share_id}}</a><br />
<br />
It was made just for you! Share your link by highlighting and copying it (control+C), and then pasting it (control+V) into an Email, Facebook Post, Tweet, etc.<br />
<br />
If your friends and followers click on the link and make a gift, you get credit. BOOM, just like that! And if you get just 10 of your friends to click on the link and make a gift, you'll get a 'Berg prize.<br/>
<br />
Want another chance to win? All you have to do is add the #MuleMentum hashtag to your Tweets and Instagrams today for a shot at some cool prizes.<br />
