{% if name %}{{name}}{% endif %},<br>
<br>
Moravian College is working with Gigawatt to make #MoCoMotion possible. Please click the verification link below and set a password to complete your registration. This way you can come back and share all of the awesomeness with your friends.<br>
<br>
<a href='https://moravian.gigawatt.co/verify_email/?id={{user_id}}&hash={{hash}}'>Click here to verify.
</a><br>
If this was not you, please disregard this message and do nothing.  Or go have an ice cream.  You deserve it :).
<br>
Thanks!<br>
The Moravian & Gigawatt Teams<br>
