{% if name %}{{name}}{% endif %},<br>
<br>
Thank you for donating to Moravian!<br>
<br>
Moravian is currently working with Gigawatt to help fund the campaign that you just donated to!<br>
<br>
We have already registered you as a user of our platform, so please verify your email address!  All you have to do is click the link and set a password!<br>
<br>
<a href='https://moravian.gigawatt.co/verify_email/?id={{user_id}}&hash={{hash}}'>Click here to verify.
</a><br>
<br>
Thanks!<br>
The Gigawatt Team<br>
