Dear R-MC Yellow Jacket,<br />
<p>Please accept this as an acknowledgement that Randolph-Macon College has received your gift on Macon Day via our special on-line payment gateway. Please note, that this is not a receipt and should not be used for tax purposes.<br />
<br/>
As Macon Day is designed to increase gifts to the Randolph-Macon Fund, we will gladly apply your gift to your preferred designation.  Please let me know if you have a specific designations preference.<br />
<br />
If you have any questions, please contact the Office of Advancement at 804-752-7218.</p>