{% if name %}{{name}}{% endif %},<br>
<br>
Looks like you're all set to start sharing!  Here is your unique link to do just that:<br>
<br>
https://moravian.gigawatt.co/share/{{share}}/<br>
<br>
You can add this link to an email or a Facebook post, and if your friends click on it and make their own gift, you get credit for it. Before you know it, you'll be moving up the leader boards faster than George Jefferson! <br>
<br>
Keep checking back at http://mocomotion.moravian.edu to see where you stand and track your project's progress.<br>
<br>
Thanks!<br>
The Moravian & Gigawatt Teams<br>
